@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
#mainImg {
  max-width: 30%;
}

body {
  min-height: 100vh;
  /* background-image: linear-gradient(to bottom, #000000, #45135c); */
  background-color: #ececec;
  overflow-x: hidden;
}

#navBar {
  position: absolute;
  z-index: 1000000;
}

p {
  color: rgb(39, 39, 39);
}

.wrap {
  max-width: 100%;
  height: 50em;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
}

#banner {
  margin: -1400px 0px 0px -1700px;
  right: 200;
  display: block;
}
#contentPage {
  max-width: 70%;
}
#contentPage h1 {
  font-weight: bold;
}

#headersH1 {
  color: #1d1d1d;
  
  
}

@media (width>425px) {
  #headersH1 {
    color: #1d1d1d;
    font-size: 4em;
  }

}

.content-left p {
  font-size: 1.5em;
}

#skills {
  display: relative;
  min-height: 40vh;
}

#skills hr {
  border-color: rgb(46, 46, 46) !important;
  opacity: 100%;
}
#skillType{
  
}
section::before {
  content: "asd";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, #ffffff00);
  z-index: 1000;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  filter: brightness(60%);
}
#stars {
  width: 150%;
  left: -20%;
}

#front {
  z-index: 1000;
  /* background: rgba(255, 255, 255, 0) linear-gradient(to bottom, black,white) repeat scroll 0 0; */
}

#textBanner {
  position: absolute;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
  font-size: 7.5vw;

  z-index: 10;
  margin-bottom: 0;
  cursor: default;
}

.nav-link{
  position: relative !important;
  width: max-content !important;
  
  
  z-index: 999999999;
}
.nav-link::before{
  transition: all 100ms;

}
.nav-link:hover::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90%;
  width: 100%;
  background-image: linear-gradient(to top, #43f3cd3b 20%,transparent);
  border-bottom: #43f3cd 2px solid;

  animation: fadeIn 0.5s;
 
  
  /* background-color: white; */
  
}

.navbar-toggler-icon {
  
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(67, 243, 205, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler{
  border-color: #43f3cd !important;
}


.nav-link:not(:hover)::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90%;
  width: 100%;
  background-image: linear-gradient(to top, #43f3cd3b 20%,transparent);
  border-bottom: #43f3cd 2px solid;
  z-index: 1000000;
  opacity: 0;
  animation: fadeOut 0.5s;
  
  /* background-color: white; */
  
}

@keyframes fadeIn {
  0% {height: 0%;}
  100% {height: 90%;}
}

@keyframes fadeOut {
  0% {height: 90%;}
  100% {height: 0%;}
}

#exploreBtn {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  padding: 1vh 4vh;
  margin-top: 5%;
  border-radius: 50px;
  border: 4px white solid;
  background: #2c003a91;
  color: #ffffff;
  font-size: 1.5em;
  z-index: 10;
  transform: translateY(14vh);
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}
#exploreBtnLabel{
  width: 100%;
  height: 100%;
  position: relative;
  
}
#exploreBtnLabel:hover{
  cursor: pointer;
}
#exploreBtn:hover::before{
  transition: all 500ms;
}
#exploreBtn:hover::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
  background-image: linear-gradient(to top, #02eeceda,#02eece6e);
  border-radius: 50px;
  animation: fadeInOp 0.5s;
  cursor: pointer;
}

#exploreBtn:not(:hover)::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
  background-image: linear-gradient(to top, #02eeceda,#02eece6e);
  border-radius: 50px;
  opacity: 0;
  animation: fadeOutOp 0.5s;
  
}

@keyframes fadeInOp {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

@keyframes fadeOutOp {
  0% {opacity: 100%;}
  100% {opacity: 0%;}
}


.glow {
  color: #ffffff;
  -webkit-animation: glow 4s ease-in-out infinite alternate;
  -moz-animation: glow 4s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
}

@media (width<992px) {
  #exploreBtn {
    display: none;
  }
}
.carousel-inner {
  height: 0;
  padding-bottom: 50%;
}

.carousel-item {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.darkBG{
  background-color: rgb(19, 19, 19);
}

.footerContainer{
  background-color: #1c0522;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #ab6bff, 0 0 30px #ab6bff,
      0 0 40px #ab6bff, 0 0 50px #ab6bff, 0 0 60px #ab6bff, 0 0 70px #ab6bff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* form */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #43f3cd;
  
  border: solid 1px #43f3cd;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #3f3f3f;
  color: #e2dedb;
}

textarea {
  width: 100%;
  
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #43f3cd;
  
  font-size: 0.875em;
  
  border: solid 1px #43f3cd;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #3f3f3f;
  color: #e2dedb;
}

#submit {
  width: 100%;
  
  padding: 0;
  margin: 1em 0px 0px 0px;
  
  
  font-size: 0.875em;
  color: #43f3cd;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #43f3cd;
 
}

#submit:hover {
  color: #e2dedb;
}


.borderRow{
  border: 4px #43f3cd solid;
}