/* Add this to your CSS file, e.g., App.css */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lexend:wght@100..900&display=swap");

:root {
  --off-white: #f8f9fa;
  --dark-grey: #151515;
  --light-grey: rgba(248, 249, 250, 0.6);
}
#resume{
    background-color: var(--dark-grey);
}

.resume-section {
    text-align: center;
    background-color: var(--dark-grey); /* Match the background color with other sections */
    color: var(--dark-grey); /* Match the text color with other sections */
    padding-bottom: 50px;
  }
  
  .section-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--off-white); /* Match the title color with other sections */
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-top: 0;
  }
  
  .resume-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .resume-image {
    max-width: 45%;
    height: auto;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
  }
  
  .download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--off-white);
    color: var(--dark-grey);
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }